build --enable_runfiles
common --enable_bzlmod
common --enable_platform_specific_config
common --noincompatible_disallow_empty_glob
common --incompatible_disallow_struct_provider_syntax=false
common --verbose_failures
common --sandbox_debug
build --noincompatible_disallow_ctx_resolve_tools

# Ensure that we don't accidentally build protobuf or gRPC
build --incompatible_enable_proto_toolchain_resolution # protoc caching
# common --toolchain_resolution_debug=".*"


build --action_env=PYTHON_BIN_PATH=/opt/tbotspython/bin/python3.12
build --action_env=PYTHON_LIB_PATH=/opt/tbotspython/lib/python3.12